<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.SqlConnectorMapper">
  <resultMap id="BaseResultMap" type="com.winter.model.SqlConnector">
    <result column="sqlId" jdbcType="VARCHAR" property="sqlid" />
    <result column="conId" jdbcType="VARCHAR" property="conid" />
    <result column="sqlState" jdbcType="VARCHAR" property="sqlstate" />
    <result column="sqlDialet" jdbcType="VARCHAR" property="sqldialet" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sqlId, conId, sqlState, sqlDialet
  </sql>
  <select id="selectByExample" parameterType="com.winter.model.SqlConnectorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sql_connector
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.winter.model.SqlConnectorExample">
    delete from sql_connector
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.winter.model.SqlConnector">
    insert into sql_connector (sqlId, conId, sqlState, 
      sqlDialet)
    values (#{sqlid,jdbcType=VARCHAR}, #{conid,jdbcType=VARCHAR}, #{sqlstate,jdbcType=VARCHAR}, 
      #{sqldialet,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.SqlConnector">
    insert into sql_connector
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sqlid != null">
        sqlId,
      </if>
      <if test="conid != null">
        conId,
      </if>
      <if test="sqlstate != null">
        sqlState,
      </if>
      <if test="sqldialet != null">
        sqlDialet,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sqlid != null">
        #{sqlid,jdbcType=VARCHAR},
      </if>
      <if test="conid != null">
        #{conid,jdbcType=VARCHAR},
      </if>
      <if test="sqlstate != null">
        #{sqlstate,jdbcType=VARCHAR},
      </if>
      <if test="sqldialet != null">
        #{sqldialet,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.winter.model.SqlConnectorExample" resultType="java.lang.Long">
    select count(*) from sql_connector
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sql_connector
    <set>
      <if test="record.sqlid != null">
        sqlId = #{record.sqlid,jdbcType=VARCHAR},
      </if>
      <if test="record.conid != null">
        conId = #{record.conid,jdbcType=VARCHAR},
      </if>
      <if test="record.sqlstate != null">
        sqlState = #{record.sqlstate,jdbcType=VARCHAR},
      </if>
      <if test="record.sqldialet != null">
        sqlDialet = #{record.sqldialet,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sql_connector
    set sqlId = #{record.sqlid,jdbcType=VARCHAR},
      conId = #{record.conid,jdbcType=VARCHAR},
      sqlState = #{record.sqlstate,jdbcType=VARCHAR},
      sqlDialet = #{record.sqldialet,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>